# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages in Data Science
- List popular libraries in Data Science
- List popular tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|-------------|
| MySQL      |
| MongoDB      |
| Apache Airflow      |

### Below are a few examples of evaluating arithmetic expressions in Python

3+2
6-4
7*9

In [12]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Alfredo Rodriguez